### Go template
# Binaries for programs and plugins
gtestcert
gtestcert.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### JetBrains template
.idea
